# Logs
*.log

# IDE and OS-specific files
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/


# Virtual environment
venv/
env/

# Environment variable files
.env

# Django specific
db.sqlite3
*.sqlite3

# Static and media files
/staticfiles/
/media/